            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item0 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item1 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item2 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item3 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item4 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item5 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">
            <img 
            src="https://ddragon.leagueoflegends.com/cdn/14.24.1/img/item/{{ getParticipanteCurrentGame(game)!.item6 }}.png" 
            alt="" 
            style="width: 25px; height: 25px;">