<div class="buscador">
  <input class="input"
    type="text"
    placeholder="Buscar por nombre de invocador"
    [(ngModel)]="gameName"
  />
  <input class="input"
    type="text"
    placeholder="Tag"
    [(ngModel)]="tagLine"
  />
  <button (click)="buscar()" class="boton"> <img src="assets/lupa.png" alt=""></button>
</div>

<div *ngIf="cargando;">
  <H1 style="color:white"> CARGANDO...</H1>
</div>

<div *ngIf="accountSummoner != null && !cargando">
  <app-account [accountSummoner]="accountSummoner"></app-account>
</div>

<div *ngIf="accountSummoner != null && !cargando">
  <app-rank [queueName]="'Clasificatoria SOLO/DUO'" [rango]="accountSummoner.ranks[0].tier + ' ' +accountSummoner.ranks[0].rank" [lps]="accountSummoner.ranks[0].leaguePoints" [imagepath]="'emblem-'+accountSummoner.ranks[0].tier.toLowerCase() + '.png'" [wins]="accountSummoner.ranks[0].wins" [loses]="accountSummoner.ranks[0].losses"></app-rank>
  <!-- <app-rank [queueName]="'Clasificatoria FLEXIBLE'" [rango]="accountSummoner.ranks[1].tier + accountSummoner.ranks[1].rank" [lps]="accountSummoner.ranks[1].leaguePoints" [imagepath]="'emblem-challenger.png'" [wins]="accountSummoner.ranks[1].wins" [loses]="accountSummoner.ranks[1].losses"></app-rank> -->
</div>

<div *ngIf="games && games.length>0 && !cargando;">

  <div *ngFor="let game of games">
    <div class="game-container"
    [ngClass]="{
      'winner': Won(game),
      'loser': !Won(game)
    }"
    >
      <div class="teams-container">
        <div class="game-info">
          <p class="queue"
          [ngClass]="{
            'winner': Won(game),
            'loser': !Won(game)
          }">{{ game.info.queueId == 440 ? 'Clasificatoria flexible' : 'Clasificatoria solo/dúo' }}</p>
          <p>{{ tiempoDesdeUltimaPartida(game.info.gameEndTimestamp)}}</p>
          <p> {{getResultGame(game) }}</p>
          <p>{{ game.info.gameDuration / 60 | number:'1.0-0'}}:{{ game.info.gameDuration % 60 }}</p>
        </div>
        <div class="participant-main">
          
          <app-participante [game]="game" [summonerName]="summonerName" [participante]="participante!"></app-participante>
          <app-items [game]="game" [summonerName]="summonerName" [participante]="participante!"></app-items>   
        </div>
        <app-team [teamId]="100" [game]="game" [summonerName]="summonerName" ></app-team>
        <app-team [teamId]="200" [game]="game" [summonerName]="summonerName" ></app-team>
  
      </div> 
    </div>
  </div>
</div>

<div *ngIf="games && games.length==0 && !cargando">
  <p style="color:white">No se encontraron partidas.</p>
</div>
<div class ="noData" *ngIf="!cargando">
    <p style="color:white">Comience su búsqueda.</p>
</div>

