<div class="buscador">
  <input class="input"
    type="text"
    placeholder="Buscar por nombre de invocador"
    [(ngModel)]="searchTerm"
  />
  <button (click)="buscar()" class="boton"> <img src="assets/lupa.png" alt=""></button>
</div>

<div *ngIf="cargando;">
  <H1 style="color:white"> CARGANDO...</H1>
</div>


<div *ngIf="games && games.length && !cargando; else noData">
  <div *ngFor="let game of games">
    <div class="game-container"
    [ngClass]="{
      'winner': Won(game),
      'loser': !Won(game)
    }"
    >
      <div class="teams-container">
        <div class="game-info">
          <p class="queue"
          [ngClass]="{
            'winner': Won(game),
            'loser': !Won(game)
          }">{{ game.info.queueId == 440 ? 'Clasificatoria flexible' : 'Clasificatoria solo/dúo' }}</p>
          <p>{{ tiempoDesdeUltimaPartida(game.info.gameEndTimestamp)}}</p>
          <p> {{getResultGame(game) }}</p>
          <p>{{ game.info.gameDuration / 60 | number:'1.0-0'}}:{{ game.info.gameDuration % 60 }}</p>
        </div>
        <div class="participant-main">
          
          <app-participante [game]="game" [summonerName]="summonerName" [participante]="participante!"></app-participante>
          <app-items [game]="game" [summonerName]="summonerName" [participante]="participante!"></app-items>   
        </div>
        <app-team [teamId]="100" [game]="game" [summonerName]="summonerName" ></app-team>
        <app-team [teamId]="200" [game]="game" [summonerName]="summonerName" ></app-team>
  
      </div> 
    </div>
  </div>
</div>
    
<ng-template #noData>
  <p style="color:white">No se encontraron partidas.</p>
</ng-template>
