

<div style="display: flex; align-items: center;margin-left: 20px;">
    <div style="position: relative; display: inline-block;"> 
    <img 
    src="http://ddragon.leagueoflegends.com/cdn/13.22.1/img/profileicon/{{accountSummoner.profileiconid}}.png" 
    alt="Summoner icon" 
    style="width: 100px; height: 100px;">
    <p style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); color: white; background-color: black; margin: 0;">{{accountSummoner.summonerlevel}}</p></div>

<div style="margin-left: 20px;">
    

    <p style="color: white;">{{accountSummoner.gamename}}#{{accountSummoner.tagline}}</p>
    
    <button (click)="renovar()" class="boton">RENOVAR</button>
</div>
</div>
